.logo1{
    background-image: url("/assets/images/logo1.jpg");
}

.logo2{
    background-image: url("/assets/images/logo2.jpg");
}
.logo3{
    background-image: url("/assets/images/logo3.jpg");
}

.icon-white{
    color: white;
}

.how-it-works{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("/assets/images/pattern.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spacer{
    display: block;
    margin: 30px;
}