<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 50px; background-image: url(/assets/images/loginBanner.jpg); background-size: cover; background-position: center bottom;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center" >
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{customerData.name}}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, alias.</p>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src='/assets/images/user-profile.jpg'
                 class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{customerData.gender}}</span>
                  <span class="description">Gender</span>
                </div>
                <div>
                  <span class="heading">{{customerData.mobile}}</span>
                  <span class="description">Mobile</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{customerData.name}}
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{customerData.address}}
            </div>
            <hr class="my-4">
            <p>{{customerData.description}}</p>
            <a href="#">Show more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center" *ngIf='customerData.name == null'>
    <div class="col-md-8">
      <div class="widget">
        <h1>Please submit your details!</h1>
         <div class="widget-body">
            <form #userData="ngForm" (ngSubmit)="updateUserData(userData)">
               <div class="row">
                  <div class="form-group col-sm-6">
                     <label for="exampleInputEmail1">Name</label>
                     <input name="name" title="Input" class="form-control" type="text" placeholder="Artisanal kale" id="example-text-input" ngModel> 
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="exampleInputEmail1">Email address</label>
                    <input  name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="abc@gmail.com" ngModel> <small id="emailHelp" class="form-text text-muted">We"ll never share your email with anyone else.</small> 
                 </div>
                  <div class="form-group col-sm-6">
                     <label for="exampleInputEmail1">Address</label>
                     <input name="address" title="Input" class="form-control" type="text" placeholder="Punjab" id="example-text-input-2" ngModel> 
                  </div>
                  <div class="form-group col-sm-6">
                     <label for="exampleInputEmail1">Date of Birth</label>
                     <input name="dob" title="Input" class="form-control" type="tel" placeholder="dd-mm-yyyy" id="example-tel-input-3" ngModel> <small class="form-text text-muted">We"ll never share your email with anyone else.</small> 
                  </div>
                  <div class="form-group col-sm-6">
                     <label for="exampleInputPassword1">Nationality</label>
                     <input name="nationality" type="text" class="form-control" id="exampleInputPassword1" placeholder="Indian" ngModel> 
                  </div>
                  <div class="form-group col-sm-6">
                     <label for="exampleInputPassword1">Phone Number</label>
                     <input name="phone" type="text" class="form-control" id="exampleInputPassword2" placeholder="1234567899" ngModel> 
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="exampleInputPassword1">Gender</label>
                    <input type="text" class="form-control" id="exampleInputPassword2" placeholder="F/M"> 
                 </div>
                  <div class="form-group col-sm-12">
                     <label for="exampleTextarea">About You</label>
                     <textarea name="description" class="form-control" id="exampleTextarea" rows="3" ngModel></textarea>
                  </div>
                  <div class="form-group col-sm-12">
                    <label for="exampleFormControlFile1">Profile Picture</label>
                    <input name="profile_picture"  type="file" class="form-control-file" id="exampleFormControlFile1" ngModel>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-4">
                     <button type="submit">Update</button>
                  </div>
               </div>
            </form>
         </div>
         <!-- end: Widget -->
      </div>
      <!-- /REGISTER -->
    </div>
  </div>

  <div class="orderBox">
    <h2>Past Orders:</h2>
    <div class="d-flex justify-content-center">
      <div class="card orderCard" *ngFor="let order of orderHistory">
        <div class="card-header restaurant-block">
            <div class="left">
              <a class="pull-left" [routerLink]="['../profile', order.rest_id]"> <img src="/assets/images/logo1.png" alt="Restaurant logo" />
              </a>
              <div class="pull-right rest_name"> <a [routerLink]="['../profile', order.rest_id]">{{order.rest_name}}</a></div>
            </div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Total Amount:{{order.total_amount}}</h4>
          <h5 class="card-subtitle mb-2 text-muted">Status:{{order.status}}</h5>
          <h5>List of Items:</h5>
          <p class="card-text" *ngFor='let item of order.list_of_items'>{{item}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
<div class="row align-items-center justify-content-xl-between">
  <div class="col-xl-6 m-auto text-center">
  </div>
</div>
</footer>
